body {
  background: #2d2d2d;
}

.hide {
  display: none;
}

.list-group-item {
  background-color: #343a40;
}

.list-group-item:hover {
  background-color: #343a40;
}

div.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #454d55;
}

nav.nav.nav-tabs {
  background-color: #343a40;
  border: 1px solid #454d55;
}

a.nav-item.nav-link.active {
  color:#007bff !important;
  background-color: transparent;
  border: 1px solid #454d55;
}

a.nav-item.nav-link.hover {
  border: 1px solid #007bff;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

header {
  margin-bottom: 3px;
}

.modal-body {
  background-color: #343a40;
  border-color: gray;
}
.modal-header {
  background-color: #343a40;
  border-color: gray;
}
.modal-footer {
  background-color: #343a40;
  border-color: gray;
}

.form-control {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #2d2d2d;
  border-color: gray;
  margin-top: 1px;
  margin-bottom: 1px;
}

.form-control:focus {
  background-color: #2d2d2d;
}

.table {
  text-align: center;
  margin-bottom: 0px;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

* {
  border-radius: 0% !important;
  color: white !important;
}
