body {
  background: #2d2d2d;
}

.hide {
  display: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

header {
  margin-bottom: 3px;
}

.modal-body {
  background-color: #343a40;
  border-color: gray;
}
.modal-header {
  background-color: #343a40;
  border-color: gray;
}
.modal-footer {
  background-color: #343a40;
  border-color: gray;
}

.form-control {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #2d2d2d;
  border-color: gray;
  margin-top: 1px;
  margin-bottom: 1px;
}

.form-control:focus {
  background-color: #2d2d2d;
}

.table {
  text-align: center;
  margin-top: 3px;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

* {
  border-radius: 0% !important;
  color: white !important;
}
