body {
  background: #2d2d2d;
}

.hide {
  display: none;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

div.dropdown-menu.show {
  background-color: #343a40;
  border: 1px solid gray;
}

a.dropdown-item:hover {
  background-color: #343a40;
}

.dark-border {
  border: 1px solid #454d55;
}

div.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}

nav.nav.nav-tabs {
  background-color: #343a40;
  border: 1px solid #454d55;
}

a.nav-item.nav-link.active {
  color:#007bff;
  background-color: transparent;
  border: 1px solid #007bff;
}

a.nav-item.nav-link:hover {
  border: 1px solid #007bff;
}

.list-group-item {
  background-color: #343a40;
  border: 1px solid #454d55;
}

.list-group-item-action:hover {
  background-color: #343a40;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.modal-body {
  background-color: #343a40;
  border-color: gray;
}
.modal-header {
  background-color: #343a40;
  border-color: gray;
}
.modal-footer {
  background-color: #343a40;
  border-color: gray;
}

.form-control {
  background-color: #2d2d2d;
  border-color: gray;
}

.form-control:focus {
  background-color: #2d2d2d;
}

.table {
  text-align: center;
  margin-bottom: 0px;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

* {
  border-radius: 0% !important;
  color: white !important;
}
